<div class="w-full flex flex-row justify-around gap-5 p-5 shadow">
    <h1 class="font-semibold text-teal-500">Home page</h1>
    <button class="px-2 py-1 rounded bg-white border border-teal-500 text-teal-500 hover:border-teal-300 hover:text-teal-400" type="button" (click)="Logout()">Logout</button>
</div>

<div class="bg-fixed w-full flex flex-row p-10 BackgroundHome">
    <div class="h-auto w-full p-10 mx-20 py-56">
    </div>
</div>

<div class="w-full flex flex-row justify-center mt-5">
    <div class="text-5xl font-extrabold">
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-teal-500 to-green-500 capitalize font-mono">
          Prueba de Angular v16
        </span>
      </div>
</div>

<div class="w-auto flex flex-row gap-10 px-10 py-5 justify-center mt-5 bg-slate-800">
    <div class="shadow rounded p-5 bg-white">
        <span class="text-cyan-950 font-extrabold capitalize">
            title #1
          </span>
        <div class="justify-center">
            <p class="text-base italic font-mono text-gray-500 font-extralight">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nostrum excepturi ullam laudantium sed, sequi porro fugiat, magni consequuntur nesciunt nam architecto aliquam corrupti fuga explicabo, autem beatae animi impedit."</p>
        </div>
    </div>
    <div class="shadow rounded p-5 bg-white">
        <span class="text-cyan-950 font-extrabold capitalize">
            title #2
          </span>
        <div class="justify-center">
            <p class="text-base italic font-mono text-gray-500 font-extralight">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nostrum excepturi ullam laudantium sed, sequi porro fugiat, magni consequuntur nesciunt nam architecto aliquam corrupti fuga explicabo, autem beatae animi impedit."</p>
        </div>
    </div>
    <div class="shadow rounded p-5 bg-white">
        <span class="text-cyan-950 font-extrabold capitalize">
            title #3
          </span>
        <div class="justify-center">
            <p class="text-base italic font-mono text-gray-500 font-extralight">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nostrum excepturi ullam laudantium sed, sequi porro fugiat, magni consequuntur nesciunt nam architecto aliquam corrupti fuga explicabo, autem beatae animi impedit."</p>
        </div>
    </div>
</div>

<div class="w-auto flex flex-row gap-10 px-10 py-5 justify-center mt-5">
    <div class="shadow rounded p-5">
        <span class="text-cyan-950 font-extrabold capitalize">
            title #1
          </span>
        <div class="justify-center">
            <p class="text-base italic font-mono text-gray-500 font-extralight">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nostrum excepturi ullam laudantium sed, sequi porro fugiat, magni consequuntur nesciunt nam architecto aliquam corrupti fuga explicabo, autem beatae animi impedit."</p>
        </div>
    </div>
    <div class="shadow rounded p-5">
        <span class="text-cyan-950 font-extrabold capitalize">
            title #2
          </span>
        <div class="justify-center">
            <p class="text-base italic font-mono text-gray-500 font-extralight">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nostrum excepturi ullam laudantium sed, sequi porro fugiat, magni consequuntur nesciunt nam architecto aliquam corrupti fuga explicabo, autem beatae animi impedit."</p>
        </div>
    </div>
    <div class="shadow rounded p-5">
        <span class="text-cyan-950 font-extrabold capitalize">
            title #3
          </span>
        <div class="justify-center">
            <p class="text-base italic font-mono text-gray-500 font-extralight">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nostrum excepturi ullam laudantium sed, sequi porro fugiat, magni consequuntur nesciunt nam architecto aliquam corrupti fuga explicabo, autem beatae animi impedit."</p>
        </div>
    </div>
</div>